body {
    font-family: "Arial";
}

h1.title {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

DIV#nav {
    text-align: center;
}

DIV#nav A {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
    display: inline-block;
    color: black;
    padding: 4px;
    border: solid medium black;
    text-decoration: none;
    width: 150px;
    text-align: center;
}

body {
    font-family: "Arial";
}

h1.title {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

DIV#nav {
    text-align: center;
}

    DIV#nav A {
        font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial;
        display: inline-block;
        color: black;
        padding: 4px;
        border: solid medium black;
        text-decoration: none;
        width: 150px;
        text-align: center;
    }